.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  gap: 4.5rem;

  .nav__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav__item {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -10px;
        height: 100%;
        width: 1px;
        background-color: var(--black);
      }

    }
  }
}


.nav__link,
.nav__link:visited {
  color: var(--black);
  font-size: 1.125rem;
}

.nav__menu {
  position: relative;

  &.active .nav__sublist {
    display: flex;
  }

  &.active .menu-icon {
    transform: rotate(180deg);
  }

  .nav__sublist {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    background-color: var(--white);
    border: 1px solid grey;
    width: 100px;

    & .nav__sublist-item {
      color: var(--black);
    }

  }
}

.search {
  border: 2px solid var(--green-base);
  font-size: 1.125rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  width: 26.5rem;

  .search__input {
    padding-left: 1rem;

    &::placeholder {
      font-size: 1.125rem;
    }
  }

  .search__button {
    width: 3rem;
    height: 100%;
    background-color: var(--green-base);
  }
}

.menu-icon {
  width: 10px;
  height: 5px;
}
